<IfModule mod_rewrite.c>
RewriteEngine On

# Force HTTPS and WWW
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.bznesshub\.com$ [NC]
RewriteRule ^(.*)$ https://www.bznesshub.com/$1 [R=301,L]

# CodeIgniter default rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
