
@media screen and (max-width:1599px) {
	
}

/*X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
	.coupon-page .notifications .view-wrap p,
	.coupon-page .notifications .view-wrap a{
		font-size: 15px;
		line-height: 22px;
	}
	.explore-page .trending-section .card{
		padding: 0;
	}
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .product-details-page .product-slider .slider.slider-single,
    .product-details-page .product-slider .slider.slider-single img{
        height: 530px;
    }
    .product-details-page .product-slider .right-block .btn-wrap .btn{
        font-size: 17px;
        line-height: 28px;
        width: 160px;
        padding: 8px 8px;
    }
    .product-details-page .product-slider .right-block .btn-wrap .btn.btn-secondary{
        width: 170px;
        margin-left: 12px;
    }
    .product-details-page .product-slider .right-block .delivery-reviews .nav-pills .nav-link{
        font-size: 16px;
        line-height: 24px;
    }
   .product-details-page .product-slider .slider.slider-nav img {
        height: 90px;
    }
	.trending-section .card-img-top{
		height: 310px;
	}
    .trending-section .slick-slider .slick-prev{
        left: 0;
    }
    .trending-section .slick-slider .slick-next{
        right: 0;
    }

    .cart-page .btn.btn-default {
        font-size: 20px;
        line-height: 24px;
    }
    .my-order-page .left-block .cart-body .order-id{
        font-size: 13px;
    }
    .track-order-page .address-details .name li {
        padding-right: 28px;
    }
	.coupon-page .notifications .view-wrap p,
	.coupon-page .notifications .view-wrap a{
		font-size: 12px;
		line-height: 16px;
	}
	
	.explore-page .trending-section .card .btn.btn-success{
		font-size: 11px;
		line-height: 14px;
	}
	.explore-page .trending-section .card .btn.btn-success svg{
		width: 15px;
		height: 15px;
	}
	.top-banner{
		height: 180px;
	}

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .product-details-page .product-slider .slider.slider-single,
    .product-details-page .product-slider .slider.slider-single img{
        height: 360px;
    }
    .product-details-page .product-slider .slider.slider-nav img {
        height: 70px;
        padding: 0 2.5px;
    }
    .product-details-page .product-slider .right-block .delivery-reviews .nav-pills .nav-link.active,
    .product-details-page .product-slider .right-block .nav-pills .show>.nav-link{
        border-bottom: 3px solid #000000;
        border-radius: 0;
        padding-bottom: 10px;
    }
	
    .trending-section h4 {
		font-size: 24px;
		line-height: 30px;
	}
    .trending-section .btn {
        font-size: 14px;
        line-height: 16px;
    }
    .product-details-page .product-slider .right-block .delivery-reviews .nav-item .rate{
        display: none;
    }
	
	
    .cart-page .title{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 25px;
    }
    .cart-page .left-block{
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        min-height: auto;
    }
    .cart-page .left-block .cart-details{
        padding: 0;
        border-bottom: 0;
        box-shadow: 4px 4px 20px 5px rgb(0 0 0 / 10%);
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 10px;
        align-items: unset;
    }
    .cart-page .left-block .cart-details .product-thumb{
        width: 129px;
        height: 130px;
    }
    .cart-page .left-block .cart-body{
        position: relative;
    }
    .cart-page .left-block .cart-body .wrap{
        position: absolute;
        bottom: 0;
	width: 100%;
    }
    .cart-page .mb-block h4{
        margin-bottom: 10px;
    }
    .cart-page .mb-block p{
        margin-bottom: 6px;
    }
    .cart-page .mb-block .wrap{
        margin: 40px 0 120px;
    }
    .cart-page .mb-block .price{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }
    .cart-page .mb-block .price h6{
        font-size: 19px;
        line-height: 23px;
    }
    .cart-page .mb-block .price .discount{
        color: #438F29;
    }
    .cart-page .mb-block .price .tax{
        color: #F42525;
    }
    .cart-page .btn.btn-secondary {
        font-size: 20px;
        line-height: 24px;
        padding: 8px 40px;
    }

    .cart-page .right-block{
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        margin-top: 40px;
    }
    .cart-page .right-block .price-details h5{
        border-bottom: 0;
        padding-bottom: 0;
    }
    .cart-page .right-block .price-details ul{
        padding: 10px 0 0;
    }
    .cart-page .right-block .total{
        border: 0;
        padding: 0 0 10px;
        margin: 60px 0 0;
    }
    .cart-page .right-block .continue h6{
        text-align: left;
    }
    .cart-page .right-block .continue .btn.btn-default{
        width: 100%;
    }

    .cart-page .right-block .save{
        color: #438F29;
        margin: 30px 0 120px;
    }
    .cart-page .right-block .proceed{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .checkout-page .left-block .easy-return h5 {
        color: #225D24;
        margin-top: 60px;
    }
    .checkout-page .left-block .payment-option .form-check-label{
        font-size: 16px;
    }

    .new-address .left-block{
        border-radius: 10px;
        padding: 20px;
        box-shadow: 4px 4px 20px 5px rgb(0 0 0 / 10%);
        margin-bottom: 20px;
    }
    .my-order-page .left-block .cart-body .order-id{
        font-size: 14px;
    }
    .my-order-page .right-block{
        margin-top: 0;
    }
    .track-order-page .download-invoice{
        margin: 20px 0 40px;
        padding: 0;
    }
    .track-order-page .left-block .right-block{
        box-shadow: 4px 4px 20px 5px rgb(0 0 0 / 10%);
    }
    .track-order-page .right-block .trending-section{
        display: flex;
    }
    .track-order-page .right-block .btn.btn-default{
        font-size: 14px;
        line-height: 16px;
    }
	.coupon-page .notifications .view-wrap p,
	.coupon-page .notifications .view-wrap a{
		font-size: 14px;
		line-height: 20px;
	}
	.submit-comment .trending-section .card-img-top{
		height: 330px;
	}
	.about-page .about-block {
		margin: 30px 0;
	}
	.about-page .text-wrap{
		max-width: 100%;
		margin: 20px 0;
	}
	.explore-page .trending-section .card .btn.btn-success{
		font-size: 11px;
		line-height: 14px;
		padding: 6px 4px;
	}
	.explore-page .trending-section .card .btn.btn-success svg{
		width: 15px;
		height: 15px;
	}
	
	
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	.product-details-page .left-block {
		padding-right: 0px;
	}
    .product-details-page .product-slider .slider.slider-single,
    .product-details-page .product-slider .slider.slider-single img{
        height: 720px;
    }
    .product-details-page .product-slider .slider.slider-nav{
        display: none;
    }
    .product-details-page .product-slider .right-block .product-name{
        font-size: 10px;
        line-height: 14px;
    }
    .product-details-page .product-slider .right-block .p-size h6,
    .product-details-page .product-slider .right-block .p-color h6{
        font-size: 16px;
        line-height: 24px;
        margin-right: 15px;
    }
    .product-details-page .product-slider .right-block {
        margin-top: 20px;
    }
    .product-details-page .product-slider .right-block .p-color {
        margin: 0;
    }
    .product-details-page .product-slider .right-block .delivery-reviews .tab-content>.active{
        overflow: auto;
        height: 240px;
        padding-right: 12px;
    }
    .product-details-page .product-slider .right-block .delivery-reviews #pills-product{
        padding: 20px 0;
    }
    .product-details-page .product-slider .right-block .delivery-reviews .review-details{
        padding: 0 0 10px;
    }
    .product-details-page .product-slider .right-block .available-offers,
    .product-details-page .product-slider .right-block .deliver-time,
    .product-details-page .product-slider .right-block .btn-wrap,
    .product-details-page .product-slider .right-block .delivery{
        display: none;
    }
    .product-details-page .product-slider .right-block .p-size{
        margin: 12px 0;
    }
    .product-details-page .btn-mb{
        display: flex;
    }
    .product-details-page .product-slider .slider.slider-nav img {
        height: 149px;
        padding: 0 5px;
    }
	.trending-section .card-img-top{
		height: 290px;
	}
    .trending-section h4 {
        margin-bottom: 20px;
    }
    .trending-section .btn{
        font-size: 11px;
        line-height: 14px;
        padding: 4px 4px;
    }
    .trending-section .card{
        padding: 0 7px;
    }
    
    .cart-page .left-block .cart-body .rate{
        font-size: 12px;
        line-height: 16px;
        margin: 10px 0 5px;
    }
    
    .address-details .btn.btn-default {
        font-size: 16px;
        line-height: 22px;
    }
    
    .thanks-page .block{
        margin: 90px 0 0;
    }
    .thanks-page .block .thanks-img{
        width: 80px;
    }
    .thanks-page .block h5 {
        font-size: 18px;
        line-height: 24px;
        margin: 20px 0;
    }
    .thanks-page .wrap{
        margin: 30px auto;
    }
    .thanks-page .wrap h6 {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 10px;
    }
    .thanks-page .wrap h4 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .thanks-page .btn-wrap{
        text-align: center;
    }
    .thanks-page .btn-wrap .btn.btn-default{
        width: 100%;
        border-radius: 0;
        margin: 0px auto;
        padding: 12px 40px;
    }
    .new-address .form .btn.btn-default{
        width: 100%;
    }

    .my-order-page .left-block .cart-body .rate{
        margin: 5px 0;
    }
    .track-order-page .right-block .btn.btn-default {
        font-size: 11px;
        line-height: 14px;
        padding: 4px 4px;
    }
    .track-order-page .download-invoice{
        box-shadow: 4px 4px 20px 5px rgb(0 0 0 / 10%);
        padding: 20px 0;
    }
	
	.coupon-page .notifications .view-wrap{
		margin-top: 30px;
	}
	.explore-page .media{
		display: block;
	}
	.explore-page .trending-section .card{
		padding: 0 6px;
	}
	.explore-page .trending-section .card .btn.btn-success svg{
		width: 16px;
		height: 16px;
	}
	.customize-clothing .customize-img{
		width: 150px;
		height: 150px;
		margin-bottom: 16px;
	}
	
}

@media screen and (max-width:600px) {
    
    
}

/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
    .product-details-page .product-slider .slider.slider-single,
    .product-details-page .product-slider .slider.slider-single img{
        height: 600px;
    }
    .product-details-page .product-slider .slider.slider-nav{
        padding: 5px 2.5px;
    }
    .product-details-page .product-slider .slider.slider-nav img {
        height: 80px;
        padding: 0 2.5px;
    }
    .product-details-page .slider-nav .slick-prev,
    .product-details-page .slider-nav .slick-next {
        width: 35px;
        height: 35px;
    }
    .checkout-page .left-block .payment-option .form-check{
        padding-left: 0;
    }
	
	.become-seller{
		padding: 16px;
	}
	
	.explore-page .trending-section .card{
		padding: 0;
	}
	.explore-page .trending-section .card .btn.btn-success span{
		display: none;
	}
	.explore-page .trending-section .card .btn.btn-success svg{
		width: 20px;
		height: 20px;
	}
.cart-page .left-block .cart-body .remove{
	position: unset;
}
	
}

@media (max-width: 440px){
    .product-details-page .product-slider .slider.slider-single,
    .product-details-page .product-slider .slider.slider-single img{
        height: 450px;
    }
	.trending-section .card-img-top{
		height: 230px;
	}
	.address-details{
        padding: 10px;
    }
}


